.home-header-container {
    height          : 70px;
    position        : sticky;
    top             : 0;
    background-color: #ffffff;
    z-index         : 10;

    .home-header-content {
        width  : 100%;
        height : 100%;
        display: flex;

        .home-header-content-left {
            width      : 25%;
            display    : flex;
            padding    : 0 20px;
            align-items: center;

            i {
                font-size: 25px;
                padding  : 0 5px;
                color    : #808080;
                cursor   : pointer;
            }

            .home-header-content-left-logo {
                background: url('../../assets/images/bookingcare-2020.svg') center center no-repeat;
                height    : 100%;
                width     : 100%;
            }
        }

        .home-header-content-middle {
            width          : 50%;
            display        : flex;
            justify-content: space-between;
            align-items    : center;

            .content-middle-child {
                .sub-title {
                    color    : #808080;
                    font-size: 12px;
                }
            }
        }

        .home-header-content-right {
            width          : 25%;
            display        : flex;
            justify-content: center;
            align-items    : center;

            .support {
                margin     : 0 10px;
                display    : flex;
                align-items: center;

                i {
                    margin: 0 5px;
                }
            }

            .language-vi {
                cursor : pointer;
                opacity: 0.2;

                &.active {
                    color  : #ff0000;
                    opacity: 1;
                }

                &:hover {
                    opacity: 0.8;
                }
            }

            .language-en {
                cursor : pointer;
                margin : 0 10px;
                opacity: 0.2;

                &.active {
                    color  : #0000ff;
                    opacity: 1;
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

.home-header-banner {
    background-image   : url('../../assets/images/bookingcare-cover-4.jpg');
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
    height             : 500px;
    width              : 100%;

    .banner-up {
        background-image: linear-gradient(rgba(126, 126, 126, 0.25), rgba(255, 255, 255, 0.1));
        height          : 50%;

        .home-header-banner-title {
            text-align : center;
            color      : #ffffff;
            font-size  : 35px;
            text-shadow: 1px 1px 1px #333;

            padding: 15px 0;
        }

        .home-header-banner-search {
            width           : 300px;
            display         : flex;
            justify-content : left;
            align-items     : center;
            margin          : 0 auto;
            padding         : 10px 0;
            border-radius   : 50px;
            background-color: #ffff00;

            i {
                margin: 0 10px;
            }

            input {
                border          : none;
                background-color: transparent;
                outline         : none;
                width           : 100%;
            }
        }
    }

    .banner-down {
        height          : 50%;
        display         : flex;
        align-items     : flex-end;
        justify-content : center;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));

        .options {
            text-align: center;
            display   : flex;
            gap       : 50px;

            .options-child {
                width: 100px;

                .option-child-icon {
                    background     : #ffffff;
                    width          : 40px;
                    height         : 40px;
                    border-radius  : 50%;
                    display        : flex;
                    align-items    : center;
                    justify-content: center;
                    padding        : 10px;
                    margin         : 0 auto;

                    i {
                        font-size    : 20px;
                        border-radius: 50%;
                        margin       : 0 auto;
                        color        : #49bce2;
                    }
                }

                .option-child-text {
                    font-size: 15px;
                    display  : flex;
                    flex-wrap: wrap;
                }
            }
        }
    }
}